body{
  background: white;
}
.middle{
  background: white;
  padding-left: 40%;
  padding-top: 180px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  display: block;
}
input{
  width: 500px;
  height: 30px;
}
.bar{
  padding-left: 530px;
}
.dvabutona{
  padding-left: 650px;
  padding-top: 13px;
}
button{
  height: 30px;
  background: #e8e2e2;
}
.linkjedan{
  padding-left: 661px;
  padding-top: 13px;
}
.hrvatska{
  background: #e8e2e2;
  vertical-align: bottom;
  margin: 0 auto;
  width: 100%;
}
